<footer class="footer mt-auto py-3 bg-dark">
  <div class="container mx-4">
      <div class="row">
          <div class="col-md-6">
              <span class="text-muted d-block ">&copy; 2024 Guia de Perguntas.</span>
              <span class="text-muted d-block ">Todos os direitos reservados.</span>
          </div>
      </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
