<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #332d46;">
    <a class="navbar-brand mx-4" href="/perguntar">
        <img src="/imgs/icons8-search-64.png" width="35" height="35" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container-fluid mx-4" id="navbarNav">
        <ul class="navbar-nav mr-auto gap-3">
            <li class="nav-item">
                <a class="nav-item nav-link active" href="/">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pergunta/listar">Listar Perguntas</a>
            </li>
            <% if (usuario) { %>
            <li class="nav-item">
                <a class="nav-link" href="/pergunta/minhas">Minhas Perguntas</a>
            </li>
            <% } %>
        </ul>
        <ul class="navbar-nav ml-auto align-items-center">
            <% if (usuario) {
                const primeiroNome = usuario.nome.split(' ')[0];
            %>
                <li class="nav-item">
                    <span class="navbar-text text-white">Bem-vindo, <%= primeiroNome %>!</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/usuario/logout">Sair</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/usuario/login">Entrar</a>
                    <a class="nav-link text-white" href="/usuario/registrar">Cadastrar</a>
                </li>
            <% } %>
        </ul>
    </div>
  </nav>
  
  <% if (success_msg.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success_msg %>
    </div>
  <% } %>
  
  <% if (error_msg.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error_msg %>
    </div>
  <% } %>
  
  <script>
    // Função para ocultar alertas após 5 segundos
    document.addEventListener('DOMContentLoaded', function() {
      setTimeout(function() {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
          alert.classList.remove('show');
          alert.classList.add('fade');
          setTimeout(() => alert.classList.add('d-none'), 1000); // Adiciona classe d-none após a transição de fade
        });
      }, 2500); // 2500ms = 2.5 segundos
    });
  </script>
  