<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
  <h1 class="mt-5">Login</h1>
  <form action="/usuario/login" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha" name="senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>

<%- include('partials/footer') %>
