<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
  <h1 class="mt-5">Faça uma Pergunta</h1>
  <form action="/pergunta/salvar" method="POST">
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="question">Pergunta</label>
      <textarea class="form-control" id="question" name="question" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

<%- include('partials/footer') %>
