<%- include ('../public/partials/header.ejs') %>
<body>
    <%- include ('../public/partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3> Realizar perguntas </h3>
            </div>

            <div class="card-body">
                <form method="post" action="/salvarpergunta"></form>
                    <label> Título </label>
                    <input type="text" placeholder="Título" class="form-control">
                    <br>
                    <label> Descrição </label>
                    <textarea placeholder="Descreva a sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success" type="submit">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('../public/partials/footer.ejs') %>